<div id="page-wrapper">
  <div id="page">


  <!--Start: Branding and Menu -->
<div id="stick">
  <div class="menu">
    <div class="container">
      <div class="row">
       <div class="branding">
        {% if page.header %}
          <div class="col-xs-6 col-md-3">
            {{ page.header }}
          </div>
        {% endif %}
        <!-- Navigation -->
        {% if page.menu %}
          <div class="col-xs-6 col-md-9">
            {{ page.menu }} 
          </div>
        {% endif %}
        <!--End Navigation -->
       </div>
      </div>
    </div>
  </div>
</div>

      <!--- Start Proyecto -->
      {% if page.content %}
        <div class="container-fluid proyecto">
          <div class="row anapage">
            <div class="container">
              <div class="col-md-12">
                <div class="proyectorowana">
                  {{ page.messages }}
                  {{ page.content }}
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
      <!---End Proyecto -->


      <!--- Start Equipo -->
      {% if page.equipo %}
        <div class="container-fluid equipo ">
          <div class="row">
            <div class="container">
              <div class="col-md-12">
                <div class="equiporow">
                 {{ page.balleta }}
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
      <!---End Equipo -->

<!--Start: Footer -->
  <div class="footer">
    <div class="container">
        <div class="col-md-12">
            <div class="logogobierno">
              {{ page.logogobierno }}
            </div>
            <div>
              {{ page.footera }}
            </div>
            <div class="social">
                <ul class="social">
									<li><a href="https://facebook.com/balletconsciente/" class="icon fa-facebook"><span></span></a></li>
									<li><a href="https://www.instagram.com/balletconsciente/" class="icon fa-instagram"><span>Twitter</span></a></li>
								</ul>
								<a href="https://jasnapardo.cl/diseno">Diseño Albumina Estudio</a>
            </div>
        </div>
    </div>
  </div>
<!--End: Footer -->

  </div>
</div>